extends  ../layout

block content
    script(src="/javascript/auth/auth-form.js")
    .d-flex.flex-row.content.mx-auto.justify-content-center
        form.card.w-50.mt-5(method="post" action=url)
            .card-header Reset password
            .card-body
                .form-group
                    label Password
                    input.form-control(type="password" name="password")
                if errors
                    ul.my-2
                        each error in errors
                            li.text-danger= error
                .w-100.d-flex.flex-row.justify-content-space-between.align-items-center
                    input.btn.btn-primary.ms-auto.d-block.mt-2(type="submit" value="Reset password")