if tweets
    each tweet in tweets
        .card.tweet-element
            .card-body
                .card-text= tweet.content
                button.btn.btn-danger.mt-2.float-end(tweetid=tweet._id) Delete