extends  ../layout

block content
    .d-flex.flex-row.content.mx-auto
        .profile-container
            include ../includes/profile
        .flex-fill
            form.card(method="post" action= tweet._id ? "/tweets/update/" + tweet._id : "/tweets")
                .card-header Write a tweet
                .card-body
                    .form-group
                        textarea.form-control(name="content" placeholder="What is happening ?")=tweet.content
                    if errors
                        ul.my-2
                            each error in errors
                                li.text-danger= error
                    .w-100
                        input.btn.btn-primary.ms-auto.d-block(type="submit" value="Send")